/* #content {
    height: 75vh;
} */

#map {
    height: 75vh;
    width: 100%;
}
#elevation_container {
    width: 100%;
}

#help_mode{
    float: right;
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.page_header {
    font-family: 'Pacifico', cursive;
}

.close_button {
    padding: 0;
    border: none;
    background: none;
}

.text-xs {
    font-size: 8px;
}

.badge{
    margin-right: 5px;
}

.main-col {
    margin-left: 20px;
    margin-right: 20px;
    left: 20px;
    right: 20px;
}

